<html>

<body style="background-image: url('https://media.istockphoto.com/vectors/spring-background-with-gradient-and-soft-green-sunny-leaf-vector-id1208592742?k=20&m=1208592742&s=170667a&w=0&h=gOv9MIUcyoAkMiyPNdqmoZzZ74YKogD5cy2xTAwLoNo='); background-size: 100% ">

    <center>

        <h1>  Your Rating:  </h1>

        <h1>{{r}}</h1>

        <h1>  Your Rating NBA Percentile:  </h1>

        <h1>{{rp}}th percentile</h1>

        <h1>  Your Salary:  </h1>

        <h1>${{s}}</h1>

        <h1>  Your Salary NBA Percentile:  </h1>

        <h1>{{sp}}th percentile</h1>

        <br><br>
        <a href='/'>Go back to home page</a>

    </center>

</body>

</html>
